@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.mat-mdc-form-field-type-mat-input, .mat-mdc-form-field-type-mat-select {
  width: 350px;
  margin-left: 10px;
}

.wrap-contacts{
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.btn-submit {
  margin-top: 1rem;
}
.btn-cancel {
  margin-top: 1rem;
  margin-left: 1rem;
}

.btn-remove {
  margin-left: 0.5rem;
}
