<div class="container">
  <li><button mat-button type="button" (click)="startReg()">Новая регистрация</button></li>
  <li><button mat-button type="button"
              (click)="continueReg()"
              [disabled]="isActive"
  >Продолжить регистрацию</button></li>
</div>
