<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-card formGroupName="account">
      <mat-card-content>
        <h2>Аккаунт</h2>

        <div class="form-control">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input class="input-area" matInput placeholder="example@mail.com" required formControlName="email">
            <mat-error *ngIf="form.get('account.email').invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-control">
          <mat-form-field>
            <mat-label>Введите пароль</mat-label>
            <input matInput
                   [type]="hidePass ? 'password' : 'text'"
                   formControlName="password"
                   required>
            <button mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('account.password').invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Повторите пароль</mat-label>
            <input matInput
                   [type]="hidePass ? 'password' : 'text'"
                   formControlName="confirmPassword"
                   required>
            <button mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('account.confirmPassword').hasError('matching')">Пароли не совпадают</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <br>

    <mat-card formGroupName="profile">
      <mat-card-content>
        <h2>Профиль</h2>
        <div class="form-control">
          <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput
                   formControlName="userName">
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input type="tel"
                   matInput
                   placeholder="8(800) 555 3535"
                   formControlName="phoneNumber"
                   (input)="onInputToProfile($event)">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="form.get('profile.phoneNumber').invalid">{{getErrorMessagePhone()}}</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Город</mat-label>
            <input matInput
                   formControlName="city">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <br>

    <mat-card formGroupName="company">
      <mat-card-content>
        <h2>Компания</h2>
        <div class="form-control">
          <mat-form-field>
            <mat-label>Наименование</mat-label>
            <input matInput
                   formControlName="companyName"
                   required>
            <mat-error *ngIf="form.get('company.companyName').invalid">{{getErrorMessageCompanyName()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Форма собственности</mat-label>
            <mat-select formControlName="propertyForm" #propertyForm (selectionChange)="setValidKPP()">
              <mat-option value="entity">Юр. лицо</mat-option>
              <mat-option value="ip">ИП</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('company.propertyForm').invalid">{{getErrorMessagePropertyForm()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>ИНН</mat-label>
            <input matInput #inputINN maxlength="9" formControlName="inn">
            <mat-hint align="end">{{inputINN.value.length}}/9</mat-hint>
            <mat-error *ngIf="form.get('company.inn').invalid">{{getErrorMessageINN()}}</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field *ngIf="propertyForm.value==='entity'">
            <mat-label>КПП</mat-label>
            <input matInput #inputKPP maxlength="9" formControlName="kpp">
            <mat-hint align="end">{{inputKPP.value.length}}/9</mat-hint>
            <mat-error *ngIf="form.get('company.kpp').invalid">{{getErrorMessageKPP()}}</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>ОКПО</mat-label>
            <input matInput #inputOKPO maxlength="8" formControlName="okpo">
            <mat-hint align="end">{{inputOKPO.value.length}}/8</mat-hint>
            <mat-error *ngIf="form.get('company.okpo').invalid">{{getErrorMessageOKPO()}}</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Дата образования</mat-label>
            <input matInput [matDatepicker]="educationDate" formControlName="educationDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="educationDate"></mat-datepicker-toggle>
            <mat-datepicker #educationDate></mat-datepicker>
          </mat-form-field>

        </div>
      </mat-card-content>
    </mat-card>
    <br>


    <mat-card>
      <mat-card-content>
        <div class="wrapper">
          <h2>Контакты</h2>
          <button mat-button mat-raised-button color="accent" type="button" (click)="addContact()">Добавить контакт
          </button>
        </div>
        <div *ngIf="contacts" formArrayName="contacts">
          <div *ngFor="let control of contacts.controls; let idx = index"
               [formGroupName]="idx"
               class="wrap-contacts"
          >
            <mat-form-field>
              <mat-label>Имя</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="contacts.at(idx).get('name').invalid">{{getErrorMessageNameInContacts(idx)}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Должность</mat-label>
              <input matInput formControlName="jobTitle">
              <mat-error
                *ngIf="contacts.at(idx).get('jobTitle').invalid">{{getErrorMessageJobTitlesInContacts(idx)}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Телефон</mat-label>
              <input matInput
                     formControlName="phone"
                     type="tel"
                     placeholder="8(800) 555 3535"
                     (input)="onInputToContacts($event, idx)">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error
                *ngIf="contacts.at(idx).get('phone').invalid">{{getErrorMessagePhoneInContacts(idx)}}</mat-error>
            </mat-form-field>
            <button mat-icon-button
                    type="button"
                    aria-label="Remove item"
                    class="btn btn-remove"
                    (click)="removeContact(idx)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


    <button mat-button
            color="primary"
            mat-raised-button
            class="btn-submit"
            type="submit"
            [disabled]="form.invalid"
    >Зарегистрироваться
    </button>
    <button mat-button
            type="button"
            class="btn-cancel"
            (click)="saveFormData(); goHome()"
    >Сохранить и выйти
    </button>
    <button mat-button
            type="button"
            class="btn-cancel"
            (click)="goHome()"
    >Отмена
    </button>
  </form>
</div>

